@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.navbar {
  background-color: #f4f3f3 !important;
}

.navbar-collapse {
  justify-content: center !important;
}

.center {
  justify-content: center !important;
}

.nav-li:hover {
  color: orangered !important;
}

.text-white:hover {
  background-color: orangered !important;
}

.nav-item  a{
  font-family: "Poppins", sans-serif !important;
}

button > a {
  font-family: "Poppins", sans-serif !important;
}
